<div class="default-container">
  <a class="btn-home" href="/home">
    <h4><i class="fa fa-chevron-left"></i> Go Home</h4>
  </a>
  <toasty></toasty>
  <div class="row md-width">
    <div class="col-md-10 col-xs-12">
        <h3 class="text-center">Add a department to the list of departments</h3>
        <form role="form" ng-submit="addDepartment(data)">
          <div class="form-group">
            <label for="name">Name of Department:</label>
            <input id="name" name="name" class="form-control" type="text" minlength="3" ng-model="data.name"
              placeholder="Department Name" required/>
          </div>
          <h5>List of Tasks i.e. Onboarding list:</h5>
          <div class="form-row">
            <div class="form-group col-md-10 no-padding-x">
              <input id="task" name="task" class="form-control" type="text" ng-model="task"
                placeholder="Task"/>
            </div>
            <div class="form-group col-md-2">
              <button class="btn btn-secondary" ng-click="addToList(task)" type="button"><i class="fa fa-plus"></i> Add Task</button>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Add Department <i ng-if="showLoading()" class="fa fa-circle-o-notch fa-spin"></i></button>
        </form>
      </div>
      <div class="col-md-10 col-xs-12">
        <ul>
          <li ng-repeat="(index, item) in data.onboardingList">{{item}} <i class="fa fa-times clickable right" ng-click="removeItem(index)"></i></li>
        </ul>
      </div>
  </div>
</div>
