<div class="row">
  <div class="center-container">
    <div class="row" ng-if="displayDeptOptions()">
      <div class="col-md-6 col-xs-12">
        <a href="/department/add">
          <div class="link-box text-center clickable">
            <i class="fa fa-file fa-3x"></i>
            <h5>Add <br> Department</h5>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="link-box text-center clickable">
          <i class="fa fa-list fa-3x"></i>
          <h5>View <br> Departments</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-xs-12">
        <a href="/employee/add">
          <div class="link-box text-center clickable">
            <i class="fa fa-user-plus fa-3x"></i>
            <h5>Add <br> Employee</h5>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-xs-12">
        <div class="link-box text-center clickable">
          <i class="fa fa-plus-square fa-3x"></i>
          <h5>Add <br> Task</h5>
        </div>
      </div>
      <div class="col-md-3 col-xs-12">
        <div class="link-box text-center clickable">
          <i class="fa fa-users fa-3x"></i>
          <h5>View <br> Employees</h5>
        </div>
      </div>
      <div class="col-md-3 col-xs-12">
        <div class="link-box text-center clickable">
          <i class="fa fa-list fa-3x"></i>
          <h5>View <br> Tasks</h5>
        </div>
      </div>
    </div>
  </div>
</div>