<div class="row">
  <div class="log-container">
    <div class="log-inner">
        <h3 class="text-center">Employee Login</h3>
        <form role="form" name="loginform" ng-submit="login()">
          <div class="form-group">
            <label> Login:
              <input class="form-control" type="email" id="email" name="email" ng-model="email" required/>
            </label>
          </div>
          <div class="form-group">
            <label> Password:
              <input class="form-control" type="password" id="password" name="password" ng-model="password" required/>
            </label>
          </div>
          <h5 class="text-center error" ng-if="showError()">{{err}}</h5>
          <button type="submit" class="btn btn-primary btn-full">Login <i ng-if="showLoading()" class="fa fa-circle-o-notch fa-spin"></i></button>
        </form>
    </div>
  </div>
</div>